<div>
<label>Nome: <%= @assistente.nome %></label>
</div>
<div>
<label>Número da Chapa: <%= @assistente.chapa %></label>
</div>
<div>
<label>Cargo: <%= @assistente.cargo %></label>
</div>
<%= link_to 'Assistentes', assistente_index_path %>


