<h1>Conteúdo do sistema Unimed</h1>
<ul>
	<li><%= link_to 'Usuários', usuarios_path %></li>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Pacientes', pacientes_path %></li>
</ul>
<a href="<%= logout_path %>">Sair do Sistema</a>